@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&display=swap');

html
{
    font-family: "Kode Mono";
    scroll-behavior: smooth;
    width: 95%;
    height: 95%;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color:white;
}

html .WIP
{
    display: flex;
    justify-content: center;
    width: 1750px;
    height: 480px;
}

a
{
    text-decoration: none;
}
a:link, a:visited{
    color:white
}

.dropdown
{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.dropdown-content
{
    display: none;
    border: solid white;
    position: absolute;
    background-color: #a52a2a;
    min-width: 160px;
    overflow: auto;
    z-index:1;
}



header .dropdown-content
{
    margin-top: 2.5em;
    width: 98%;
}


header .dropdown:hover .dropdown-content
{
    display:block;
    
}

header .dropdown-content li
{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    height: 3.5em;

}

header .dropdown-content li a
{
    padding: .5em 0em .5em .5em;
    margin: 0em;
    height: 3em;
    width: 95%;
    align-items: center;
    border: solid white;
}

header .dropdown-content li a:hover
{
    background-color: #dc4747;
}

#ProjectsPage
{
    display:grid;
    grid-template-columns: 1fr 1fr ;
}

#ProjectsPage article 
{
    display: flex;
    flex-flow: wrap column;
    border:solid pink;
    padding: 2em 2em 2em 2em;
    width: 50em;
    align-items: center;
    
}

#CollegeProjects, #OtherProjects
{
    padding: 0em .5em 0em .5em;
}

.ProjectBox
{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
    border:solid black;
    width: 70%;
    background-color: #47222a;
    justify-content: center;
}

.ProjectBox a
{
    border: solid rgb(200, 223, 244);
}
.ProjectBox a:hover
{
    background-color: #373463;
}


footer .dropdown-content
{
    width: 1000%;
    bottom : 100%;
    padding: .5em 0em .5em 0em;
}

footer .dropdown:hover .dropdown-content
{

    display:flex;
    justify-content: center;
    align-content: space-around;

}








/*

HEADER BEGIN

*/
header
{

    border-top: solid white;
    border-left: solid white;
    border-right:solid white;
}


.TitleLogin
{
    font-size:30px;
    background-color: rgb(109, 28, 28);
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding-left: 12px;
    padding-right: 12px;
}
#Login
{
    background-color: #710d21;
    border: solid rgb(71, 0, 0) 1px;
    font-size: 20px;
    align-self: center;
    margin-left: auto;    
}

#Login:hover
{

    background-color: #ae1634;
}

#Login > a
{
    padding: 1em;
}


header > nav > ul, div > ul >li
{
    list-style-type: none;
    display: flex;
    margin-left: -40px;
    margin-bottom: 5px;
}
header > nav > ul > li
{
    width: 25%;
    font-size: 30px;    
    display: flex;
    justify-content: center;
    
}

.WIP
{
    display: flex;
    width: 100%;
}



header>nav>ul>li>a , header>nav>ul>li>div>a
{
    border: solid white 2px;
    padding: 1em 1em 1em 1em;
    margin: -.5em 0em -1.5em -0em;
    display: flex;
    justify-content: center;
    width: 100%;

}

header>nav>ul>li>div
{
    width: 100%
}

header> nav> ul> li > a:hover, header>nav>ul>li>div>a:hover
{
    background-color: #dc4747;
}

header, footer
{
    background-color: #a52a2a;
    display: flex;    
    flex-flow: wrap column;
    justify-content: space-between;
}


/*

HEADER END

MAIN BEGIN

*/

.Front-Page
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.WIP
{

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

main
{
    background-color: rgb(225, 64, 64);
    border-left: solid white;
    border-right: solid white;
    padding: 2em 1em 2em 1em
    
}

#left
{
    width: 90%;
    background: #aa3030;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-self: center;
    border: solid pink;
    
    padding: 2em 1em 2em 1em;
}

#right
{
    width: 93%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    

}

#right > .right-top , #right > .right-bottom
{
    height: 95%;
    width: 100%;
    background: #aa3030;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    border: solid pink;
}

#right > .right-top
{
    align-self: flex-start;
}

#right > .right-bottom
{
    align-self:flex-end;
}

.Aboutme, .Proficiencies, .college_project, .WorkIP
{
    width: 80%;
    display:flex;
    padding: 1em 1em 1em 1em;
    flex-flow: wrap column;
    margin:0 auto;
    align-content: center;
    background-color: #b73131;
    border: solid black;

}

.Images
{
    height: 300px;
    width: 512px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-self: center;
    overflow: scroll;
    overscroll-behavior-y: none ;
    scroll-snap-type: x mandatory;
}

.Images > img
{
    scroll-snap-align:center;
    scroll-snap-stop: normal;
    scroll-margin: 10px;
    justify-items: center;
    align-items: center;
    height:280px
}

/*

MAIN END

FOOTER
*/

footer
{
    border: solid white;
    padding: 1em 1em 1em 1em;
}

footer>ul
{

    list-style-type: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    
}
footer >ul > li
{
    margin: 0em 2em 0em 2em;
}


footer > ul > li > a >img, footer > ul > li > div > img
{
    height: 2em;
    width: auto;
}