@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&display=swap');


html
{
    font-family: "Kode Mono";
    scroll-behavior: smooth;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color:white;
    
}

body
{
    width: 100%;
    min-width: 300px;
    min-height: 600px;
}


a
{
    text-decoration: none;
}

a:link, a:visited{
    color:white
}



*
{
    box-sizing: border-box;
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #8d3232;
}
  
  ::-webkit-scrollbar-thumb {
    background: #4b4848;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2c2828;
  }
/*scrollbar*/

/*Dropdown menus*/
.dropdown
{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.dropdown-content
{
    display: none;
    border: solid white;
    position: absolute;
    background-color: #a52a2a;
    min-width: 75px;
    overflow: auto;
    z-index:1;
}



header .dropdown-content
{
    margin-top: 2.5em;
    width: 98%;
}


header .dropdown:hover .dropdown-content
{
    display:block;
    
}

header .dropdown-content li
{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

header .dropdown-content li a
{
    padding: .5em 0em .5em .5em;
    margin-bottom: -.19em;
    width: 100%;
    align-items: center;
    border: solid white 2px;
}

header .dropdown-content li a:hover
{
    background-color: #dc4747;
}


footer .dropdown-content
{
    width: 1000%;
    bottom : 100%;
    padding: .5em 0em .5em 0em;
}

footer .dropdown:hover .dropdown-content
{

    display:flex;
    justify-content: center;
    align-content: space-around;

}

/*Dropdown menus*/



#ProjectsPage
{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#ProjectsPage article 
{
    display: flex;
    flex-flow: wrap column;
    border:solid pink;
    padding: 2em 2em 2em 2em;
    width: 90%;
    align-items: center;
    justify-self: center;
    background: #9e3232;
}

#CollegeProjects, #OtherProjects
{
    padding: 0em .5em 0em .5em;
}

.ProjectBox
{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
    border:solid black;
    width: 70%;
    background-color: #47222a;
    align-items: flex-start;
    margin-top: 2em;
}


.ProjectBox a
{
    border: solid rgb(200, 223, 244) 1px;
}
.ProjectBox a:hover
{
    background-color: #932e29;
}










/*

HEADER BEGIN

*/
header
{
    z-index: 2;
    border-top: solid white;
    border-left: solid white;
    border-right:solid white;
}


.TitleLogin
{
    font-size:30px;
    background-color: rgb(109, 28, 28);
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding: 0em 1em 0em 1em;

}
#Login
{
    background-color: #710d21;
    border: solid rgb(71, 0, 0) 1px;
    font-size: 20px;
    align-self: center;
    margin-left: auto;    
}

#Login:hover
{

    background-color: #ae1634;
}

#Login > a
{
    padding: 1em;
}


header > nav > ul, div > ul >li
{
    list-style-type: none;
    display: flex;
    margin-left: -40px;
    margin-bottom: 5px;
}
header > nav > ul > li
{
    width: 25%;
    font-size: 30px;    
    display: flex;
    justify-content: center;
    
}

.WIP
{
    display: flex;
    width: 100%;
}



header>nav>ul>li>a , header>nav>ul>li>div>a
{
    border: solid white 2px;
    padding: 1em 1em 1em 1em;
    margin: -.5em 0em -1.5em -0em;
    display: flex;
    justify-content: center;
    width: 100%;

}

header>nav>ul>li>div
{
    width: 100%
}

header> nav> ul> li > a:hover, header>nav>ul>li>div>a:hover
{
    background-color: #dc4747;
}

header, footer
{
    background-color: #a52a2a;
    display: flex;    
    flex-flow: wrap column;
    justify-content: space-between;
}


/*

HEADER END

MAIN BEGIN

*/

.Front-Page
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.WIP
{

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}



main
{

    background-color: rgb(225, 64, 64);
    border-left: solid white;
    border-right: solid white;
    padding: 2em 1em 2em 1em;
    min-height: 400px;
}

#left
{
    width: 90%;
    background: #aa3030;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-self: center;
    border: solid pink;
    padding: 2em 1em 2em 1em;
}

.Front-Page #left .Aboutme p
{
        width: 95%;
        align-self: center;
        font-size: 21px;
}

.Front-Page #left .Aboutme ul
{
    font-size: 18px;
    width: 100%;
    justify-self: center;
    margin-left: 5em;
}

#right
{
    width: 93%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    

}

#right > .right-top , #right > .right-bottom
{
    height: 95%;
    width: 100%;
    background: #aa3030;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    border: solid pink;
    padding-bottom: 3em;
}

#right > .right-top
{
    align-self: flex-start;
}

#right > .right-bottom
{
    display: flex;
    flex-flow: column;
    align-self:flex-end;
}

.Aboutme, .Proficiencies, .college_project, .WorkIP
{
    width: 80%;
    display:flex;
    padding: 1em 1em 1em 1em;
    flex-flow: wrap column;
    margin:0 auto;
    align-content: center;
    background-color: #b73131;
    border: solid black;

}


.Images
{
    max-height: 300px;
    max-width: 720px;
    min-width: 300px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-self: center;
    overflow: scroll;
    overscroll-behavior-y: none ;
    scroll-snap-type: x mandatory;
}

.Images > img
{
    scroll-snap-align:center;
    scroll-snap-stop: normal;
    scroll-margin: 10px;
    justify-items: center;
    align-items: center;
    height:280px
}

.Aboutme img, div.Images
    {
        height: 282px;
        width: 500px;
    }


/*

MAIN END

FOOTER
*/

footer
{
    border: solid white;
    padding: 1em 1em 1em 1em;
}

footer>ul
{

    list-style-type: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    
}
footer >ul > li
{
    margin: 0em 2em 0em 2em;
}


footer > ul > li > a >img, footer > ul > li > div > img
{
    height: 2em;
    width: auto;
}


@media only screen and (min-width:300px) and (max-width:450px)
{
    header a
    {
        font-size:7px
    }

    .TitleLogin
    {
        font-size: 8px;
    }

    #left, #right
    {
        width: 100%;
    }

    .Front-Page
    {
        grid-template-columns: 1fr;
    }

    #left
    {
        margin-bottom: 2em;
    }

    .Front-Page #left .Aboutme p
    {
        width: 95%;
        align-self: center;
        font-size: 6px;
    }

    .Front-Page ul li
    {
        font-size:5px
    }

    footer #contact
    {
        font-size: 8px;
    }

    footer img
    {
        height: .2em;
    }

    
    
}

@media only screen and (min-width:450px) and (max-width:600px)
{
    header a
    {
        font-size:11px
    }

    .Front-Page
    {
        grid-template-columns: 1fr;
    }

    .Aboutme img, div.Images
    {
        height: 169px;
        width: 300px;
    }

    .Front-Page #left .Aboutme p
    {
        width: 95%;
        align-self: center;
        font-size: 12px;
    }

    .Front-Page ul li
    {
        font-size:10px
    }

    #left, #right
    {
        width: 90%;
    }

    header .dropdown-content
    {
        margin-top: 1em;
    }
}

@media only screen and (min-width:600px) and (max-width:800px)
{
    header a
    {
        font-size:16px;
    }

    .Front-Page
    {
        grid-template-columns: 1fr;
    }

    #left
    {
        margin-bottom: 2em;
    }

    .Front-Page #left .Aboutme p
    {
        width: 95%;
        align-self: center;
        font-size: 12px;
    }

    .Front-Page ul li
    {
        font-size:11px
    }

    .Aboutme img, div.Images
    {
        height: 169px;
        width: 300px;
    }

    header .dropdown-content
    {
        margin-top: 1em;
    }

    
}

@media only screen and (min-width:800px) and (max-width:1100px)
{
    header a
    {
        font-size:22px;
    }

    .Front-Page #left .Aboutme p
    {
        width: 95%;
        align-self: center;
        font-size: 15px;
    }

    .Front-Page
    {
        grid-template-columns: 1fr;
    }

    #left, #right
    {
        width: 90%;
    }

    #left
    {
        margin-bottom: 2em;
    }

    header .dropdown-content
    {
        margin-top: 2em;
    }

    
    
}

@media only screen and (min-width:1100px) and (max-width:1600px)
{

    .Aboutme p
    {
        width: 95%;
        align-self: center;
        font-size: 20px;
    }
    

    .Front-Page
    {
        grid-template-columns: 1fr;
    }
    #left, #right
    {
        width: 90%;
    }

    #left
    {
        margin-bottom: 2em;
    }

    header .dropdown-content
    {
        margin-top: 2.5em;
    }
    
    
    
}

@media only screen and (min-width:800px) and (max-width:1000px)
{
    .Aboutme img, div.Images
    {
        height: 225px;
        width: 400px;
    }
    
}

@media only screen and (max-width:1200px)
{
    #ProjectsPage
    {
        grid-template-columns: 1fr;
    }

    #CollegeProjects
    {
        margin-bottom: 2em;
    }
}